.uc7-view {
    .drop-zone {
        border: 2px dashed var(--aura-contrast-30pct);
        padding: var(--aura-space-xl);
        text-align: center;
        border-radius: var(--aura-border-radius-l);
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .file-log {
        font-family: monospace;
        white-space: pre-wrap;
        padding: var(--aura-space-s);
        background: var(--aura-contrast-5pct);
        display: block;
        border-radius: var(--aura-border-radius-m);
    }
}
