.uc7-view {
    .availability-status {
        padding: var(--aura-space-s);
        border-radius: var(--aura-border-radius-m);
        display: block;
        background: var(--aura-contrast-5pct);
    }

    .availability-status.available {
        background: var(--aura-success-color-10pct);
    }

    .availability-status.unsupported {
        background: var(--aura-error-color-10pct);
    }
}
